$color1: white;
$color2: black;
$color3: red;
$shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    transition: all .2s linear;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body{
    font-family: 'Montserrat';
}

// INICIO HEADER
.header{
    background-color: $color1;
}

.menu-bar{
    box-shadow: $shadow;
    margin-bottom: 1.5rem;
}

.nav-link{
    font-size: 1.1rem;
    margin: 0.5rem;
    color: $color2;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: right;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-nav{
    text-align: right;
}

.nav-link.active{
    color: $color3;
}

.nav-link:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: $color3;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: $color3;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: $color3;
}

.nav-link:hover:before{
    right: 0;
}

.nav-link:hover:after{
    left: 0;
}

.navbar .fa{
    color: $color2;
    font-size: 2rem;
}

.navbar-brand img{
    width: 15rem;
}

@mixin estilos($width, $heigth, $bgcolor) {
    height: $heigth;
    width: $width;
    background-color: $bgcolor;
}

.icons i,
.icons a{
    cursor: pointer;
    margin-left: .5rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    @include estilos(2.25rem, 2.25rem, red);
}

.icons i:hover,
.icons a:hover{
    transform: rotate(360deg);
}
// FIN HEADER

// INICIO VARIOS
.carousel.slide{
    width: 85%;
    margin: 0 auto;
}

.whatsapp{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 9%;
    right: 3%;
    font-size: 4rem;
    color: #25D366;
    z-index: 1000;
}

.whatsapp:hover{
    transform: scale(1.2);
    color: $color2;
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: $color3;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: $color3;
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}
// FIN VARIOS

// INICIO HERO
#hero-section{
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 3.2rem;
    }

    p{
        font-size: 1.3rem;
        color: grey;
    }
}
// FIN HERO

// INICIO BOTONES
.btn-primary{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $color3;
    color: $color1;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.btn-primary:hover{
    background-color: $color2;
}

.hot-deal .cta-btn{
    margin-top: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $color3;
    color: $color1;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hot-deal .cta-btn:hover{
    background-color: $color2;
}

.contacto .cta-btn{
    background-color: $color3;
    color: $color1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contacto .cta-btn:hover{
    background-color: $color2;
}
// FIN BOTONES

// INICIO PROMOCIONES
#promociones,
#hero-section span{
    animation-duration: 0.5s;
    animation-name: intermitente;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#promociones h2,
#promociones p,
#hero-section span{
    color: $color3;
}

@keyframes intermitente{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.container-fluid a{
    text-decoration: none;
}

#contenedorPromociones:hover{
    transform: scale(1.04);
}
// FIN PROMOCIONES

// INICIO NUEVOS PRODUCTOS
#hot-deal.section{
    padding: 60px 0px;
    margin: 30px 0px;
    background-color: white;
    background-image: url('../media/imagenes/hotdealbanner.png');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $shadow;
}

.hot-deal{
    text-align: center;
}

.hot-deal .hot-deal-countdown{
    margin-bottom: 30px;
}

.hot-deal .hot-deal-countdown>li{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: $color3;
    text-align: center;
    border-radius: 50%;
    margin: 0px 5px;
}

.hot-deal .hot-deal-countdown>li>div{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hot-deal .hot-deal-countdown>li>div h3{
    color: $color1;
    margin-bottom: 0px;
}

.hot-deal .hot-deal-countdown>li>div span{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: $color1;
}

.hot-deal p{
    text-transform: uppercase;
    font-size: 24px;
}
// FIN NUEVOS PRODUCTOS

// INICIO PRODUCTOS
.categorias{
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: 103%;
    transition: .5s;
}

.categorias img{
    transition: .5s;
}

.categorias:hover img{
    transform: scale(1.1);
}
// FIN PRODUCTOS

// INICIO SERVICIOS
.service-item{
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    height: 20rem;
}

.service-item:hover{
    background-color: $color2;
}

.service-item *{
    transition: .5s;
}

.service-item:hover *{
    color: $color1;
}
// FIN SERVICIOS

// INICIO NOVEDADES
.novedades{
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}

.novedades:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%;
    background: $color3;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.novedades:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    width: 100%;
    background: $color3;
    opacity: 0.9;
    -webkit-transform: skewX(-45deg) translateX(-100%);
    -ms-transform: skewX(-45deg) translateX(-100%);
    transform: skewX(-45deg) translateX(-100%);
}

.novedades .novedades-img{
    position: relative;
    background-color: $color1;
    z-index: -1;
}

.novedades .novedades-img>img{
    width: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.novedades:hover .novedades-img>img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.novedades .novedades-body{
    position: absolute;
    top: 0;
    width: 75%;
    padding: 30px;
    z-index: 10;
}

.novedades .novedades-body h3{
    color: $color1;
}

.novedades .novedades-body .cta-btn {
    color: $color1;
    text-transform: uppercase;
    text-decoration: none;
}
// FIN NOVEDADES

// INICIO BENEFICIOS
// FIN BENEFICIOS

// INICIO CONTACTO
// FIN CONTACTO

// INICIO FOOTER
footer{
    background-color: $color3;
    color: $color1;

    li a{
        text-decoration: none;
        color: $color1;
    }

    li a:hover{
        color: $color2;
    }

    .icons-social a i:hover{
        transform: scale(1.2);
    }
}

$social: (
    soc1: #3b5998,
    soc2: #00acee,
    soc3: #000000,
    soc4: #833AB4,
    soc5: #50c7c7,
);

@each $soc, $color in $social {
    .btn--#{$soc} {
        font-size: 2rem;
        color: $color;
        margin: 0 0.6rem;
    }
}
// FIN FOOTER

// INICIO MEDIA QUERIES
@media only screen and (max-width: 1322px) {
    .icons{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .whatsapp{
    bottom: 13%;
    right: 6%;
    }

    .slide{
        display: none;
    }

    .slide-vertical{
        overflow: hidden;
        width: 85%;
        margin: 0 auto;
    }
    
    .btn-primary{
        top: 95%;
    }

    #hero-section .btn-primary{
        top: 150%;
    }
}

@media only screen and (min-width: 992px) {
    .slide-vertical{
        display: none;
    }
}
// FIN MEDIA QUERIES