$color1: white;
$color2: black;
$color3: red;
$shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    transition: all .2s linear;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body{
    font-family: 'Montserrat';
}

// INICIO HEADER
.header{
    background-color: $color1;
}

.menu-bar{
    box-shadow: $shadow;
    margin-bottom: 1.5rem;
}

.nav-link{
    font-size: 1.1rem;
    margin: 0.5rem;
    color: $color2;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: right;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-nav{
    text-align: right;
}

.nav-link.active{
    color: $color3;
}

.nav-link:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: $color3;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: $color3;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: $color3;
}

.nav-link:hover:before{
    right: 0;

}

.nav-link:hover:after{
    left: 0;
}

.navbar .fa{
    color: $color2;
    font-size: 2rem;
}

.navbar-brand img{
    width: 15rem;
}

@mixin estilos($width, $heigth, $bgcolor) {
    height: $heigth;
    width: $width;
    background-color: $bgcolor;
}

.icons i,
.icons a{
    cursor: pointer;
    margin-left: .5rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    @include estilos(2.25rem, 2.25rem, red);
}

.icons i:hover,
.icons a:hover{
    transform: rotate(360deg);
}
// FIN HEADER

// INICIO VARIOS
.carousel.slide{
    width: 85%;
    margin: 0 auto;
}

.whatsapp{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 9%;
    right: 3%;
    font-size: 4rem;
    color: #25D366;
    z-index: 1000;
}

.whatsapp:hover{
    transform: scale(1.2);
    color: $color2;
}
// FIN VARIOS

// INICIO HERO
#hero-section{
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 3.2rem;
    }

    p{
        font-size: 1.3rem;
        color: grey;
    }

}

// INICIO BOTONES
.btn-primary{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $color3;
    color: $color1;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover,
#btncontacto:hover{
    background-color: $color2;
}

#btncontacto{
    background-color: $color3;
    border: none;
}
// FIN BOTONES

// INICIO PROMOCIONES
#promociones,
#hero-section span{
    animation-duration: 0.5s;
    animation-name: intermitente;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#promociones h2,
#promociones p,
#hero-section span{
    color: $color3;
}

@keyframes intermitente{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.container-fluid a{
    text-decoration: none;
}

#contenedorPromociones:hover{
    transform: scale(1.04);
}
// FIN PROMOCIONES

// INICIO PRODUCTOS
.categorias {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: 100%;
    transition: .5s;
}

.categorias img {
    transition: .5s;
}

.categorias:hover img {
    transform: scale(1.1);
}
// FIN PRODUCTOS

// INICIO CONTACTO
#contacto{
    width: 25rem;
}
// FIN CONTACTO

// INICIO FOOTER
footer{
    background-color: $color3;
    color: $color1;

    li a{
        text-decoration: none;
        color: $color1;
    }

    li a:hover{
        color: $color2;
    }

    .icons-social a i:hover{
        transform: scale(1.2);
    }
}

$social: (
    soc1: #3b5998,
    soc2: #00acee,
    soc3: #000000,
    soc4: #833AB4,
    soc5: #50c7c7,
);

@each $soc, $color in $social {
    .btn--#{$soc} {
        font-size: 2rem;
        color: $color;
        margin: 0 0.6rem;
    }
}
// FIN FOOTER

// INICIO MEDIA QUERIES
@media only screen and (max-width: 1322px) {
    .icons{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .whatsapp{
    bottom: 13%;
    right: 6%;
    }

    .slide{
        display: none;
    }

    .slide-vertical{
        overflow: hidden;
        width: 85%;
        margin: 0 auto;
    }
    
    .btn-primary{
    top: 95%;
    }

    #hero-section .btn-primary{
        top: 150%;
    }
}

@media only screen and (min-width: 992px) {
    .slide-vertical{
        display: none;
    }

    
}

// FIN MEDIA QUERIES