@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 10rem 9%;
}

/* INICIO HEADER NAVBAR */

header{
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background-color: white;
    position: fixed;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.logoconteiner{
    width: 15%;
    height: 15%;
}

.logo{
    width: 100%;
    height: auto;
    padding: .3rem;
}

header .navBar a{
    font-size: 2rem;
    border-radius: .5rem;
    padding: .1rem 2.5rem;
    color: red;
}

.menuHorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* .menuVertical li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: justify;
}

.menuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    margin-top: .1rem;
}

.menuHorizontal li:hover .menuVertical{
    display: block;
}

.menuVertical li a{
    display: block;
    color: white;
    padding: 10px 5px 10px 5px;
} */

header .navBar a.active,
header .navBar a:hover{
    color: white;
    background: red;
}

header .icons a,
header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    color: white;
    background: red;
}

header .icons a:hover,
header .icons i:hover{
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

/* FIN HEADER NAVBAR */

/* INICIO IMAGENES */

.lavarropasImg,
.splitImg,
.imgCat,
.hel1{
    width: 100%;
}

/* FIN IMAGENES */

/* INICIO VARIOS */

.subHeading{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.boton{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    background-color: red;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.boton:hover{
    background: orange;
    letter-spacing: .1rem;
}

.whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    font-size: 55px;
    color: green;
}

/* FIN VARIOS */

/* INICIO OFERTAS */

.principal .contenedorOfertas .contenedor1{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8.5rem;
    padding-top: 10rem;
}

.principal .contenedorOfertas .contenedor1 span{
    color: red;
    font-size: 2.5rem;
    animation-duration: 1s;
    animation-name: intermitente;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes intermitente{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.principal .contenedorOfertas .contenedor1 h3{
    color: black;
    font-size: 6rem;
}

.principal .contenedorOfertas .contenedor1 p{
    color: grey;
    font-size: 3rem;
    padding: 1.5rem 0;
}

/* FIN OFERTAS */

/* INICIO PROMOCIONES */

.lavarropas .contenedorLavarropas,
.aires .contenedorAires{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.5rem;
}

.lavarropas .contenedorLavarropas .box,
.aires .contenedorAires .box{
    padding: 2.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.lavarropas .contenedorLavarropas .box:hover,
.aires .contenedorAires .box:hover{
    transform: scale(1.05);
}

/* FIN PROMOCIONES */

/* INICIO EMPRESA */

.empresa{
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.empresa .quienesSomos h3,
.empresa .politicasDeCalidad h3{
    color: red;
    font-size: 6rem;
}

.empresa .quienesSomos{
    grid-column: 1/2;
    grid-row: 1/2;
}

.empresa .politicasDeCalidad{
    grid-column: 1/2;
    grid-row: 2/3;
}

.empresa .exterior{
    background-color: rebeccapurple;
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: linear-gradient(rgba(16, 16, 16, .1), rgba(16, 16, 16, .9)), url(../media/imagenes/exterior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .4rem;
}

.empresa .quienesSomos,
.empresa .politicasDeCalidad{
    padding: 1.5rem 2rem;
}

.empresa .quienesSomos p,
.empresa .politicasDeCalidad p{
    color: grey;
    font-size: 2.3rem;
    line-height: 5rem;
}

/* FIN EMPRESA */

/* INICIO PRODUCTOS */

.categorias .contenedorCategorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15.5rem;
    text-align: center;
}

.categorias .contenedorCategorias .box{
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
}

.categorias .contenedorCategorias .box .categoriaImg{
    height: 35rem;
    width: 100%;
    padding: 2.5rem;
    overflow: hidden;
    position: relative;
}

.categorias .contenedorCategorias .box .categoriaImg img{
    height: 100%;
    width: 100%;
}

.categorias .contenedorCategorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}

.categorias .contenedorCategorias .box{
    padding: 2.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .5);
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
}

/* FIN PRODUCTOS */

/* INICIO CONTACTO */

.contacto form{
    width: 40rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.5rem;
    margin: 0 auto;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
}

.contacto form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.contacto form .inputBox input{
    width: 100%;
}

.contacto form .inputBox span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
}

.contacto form .inputBox .input input,
.contacto form .inputBox .input select,
.contacto form .inputBox .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.contacto form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}

.contacto form .boton{
    margin-top: 0;
}

.botones{
    display: flex;
    justify-content: space-around;
}

.contacto .botones .boton{
    width: 18rem;
}

/* FIN CONTACTO */

/* INICIO FOOTER */

.footer{
    box-shadow: 0 0 1.5rem rgba(0,0,0,.2);
}

.footer .contenedor2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.footer .contenedor2 .box{
    font-size: 1.5rem;
    color: grey;
}

.footer .contenedor2 .box a{
    display: block;
}

/* FIN FOOTER */

/* INICIO MEDIA QUERIES */

@media (max-width:1603px){
    html{
        font-size: 45%;
    }

    header{
        padding: 1rem 1rem;
    }

    header .navBar a{
        padding: 0 .3rem;
    }
}

@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navBar{
        position:absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navBar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    header .navBar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .logoconteiner{
        width: 45%;
    }

    .principal .contenedorOfertas .contenedor1 span{
        font-size: 1.5rem;
    }

    .principal .contenedorOfertas .contenedor1 h3{
        font-size: 3rem;
    }

    .principal .contenedorOfertas .contenedor1 p{
        font-size: 1.5rem;
    }

    .lavarropas .contenedorLavarropas,
    .aires .contenedorAires{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }

    .lavarropas .contenedorLavarropas .box,
    .aires .contenedorAires .box{
        padding: 2.5rem;
        border-radius: .5rem;
        border: .1rem solid rgba(0, 0, 0, .2);
        text-align: center;
        font-size: 2rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    }

    .footer .contenedor2{
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    }

    .empresa{
        height: 100%;
        background-image: linear-gradient(rgba(16, 16, 16, .1), rgba(16, 16, 16, .9)), url(../media/imagenes/exterior.jpg);
        background-size: cover;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .empresa .quienesSomos p,
    .empresa .politicasDeCalidad p{
        font-size: 2rem;
        color: white;
        line-height: 2.5rem;
    }

    .empresa .quienesSomos h3,
    .empresa .politicasDeCalidad h3{
        font-size: 4rem;
    }

    .categorias .contenedorCategorias{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
}

/* FIN MEDIA QUERIES *